@use '@angular/material' as mat;

.toolbar {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        ));
    // background-color: pink;
    background: #E8B7C0;
    color: #3D3D3D;
    // color: black;
    display: flex;
  justify-content: center; // centra horizontalmente
  align-items: center; 
   font-family: 'Poppins',  sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.toolbar-title {
    margin-left: 1rem;
}
.button-toggle{
    background-color: #E8B7C0;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav {
        @include mat.sidenav-overrides((container-shape: 0px));
    }
}

.setting-list-item {
    @include mat.list-overrides((list-item-two-line-container-height: 80px));
}

.mainnav {
    width: 300px;
}

.spacer {
    flex: 1 1 auto;
}

a[matListItemTitle] {
    text-decoration: none;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mat-sys-tertiary-fixed);
    opacity: 0.6;
}
.toolbar-title-opt{
    background: #A8B89A;
    color: white;
}